#play-area {
  display: flex;
  justify-content: center;
}

#play-area .board,
#play-area .menu,
#play-area .history {
  padding: 0 1rem;
  justify-content: center;
}

#play-area .menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
#play-area .menu .player-actions {
  margin-top: auto;
  width: 100%;
}

#play-area div[data-boardid] {
  margin: 0 auto;
}
