#player-menu {
  word-wrap: break-word;
  text-align: left;
  min-width: 260px;
  margin-top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0;
}

#player-menu .player-title {
  margin: 0;
  text-align: center;
  border-radius: 5px 5px 0 0;
}
#player-menu .player-title.white {
  background-color: white;
  color: black;
}
#player-menu .player-title.black {
  background-color: black;
}

#player-menu .player-actions {
  margin-top: auto;
  text-align: center;
  padding: 1rem;
}
